body {
  background-color: #fffeff;
}

.Login_page_container {
  display: flex;
}

.Login_page_container_left {
  flex: 1;
}

.Login_page_container_right {
  flex: 1;
}

.login-page {
  margin-top: 130px;
  margin-left: 20%;
  height: 60%;
  width: 50%;
}

/* Common styles for both mobile and desktop */
body {
  background-color: #fffeff;
}

.Login_page_container {
  display: flex;
  flex-direction: column; /* Stack containers vertically on smaller screens */
}

.Login_page_container_left,
.Login_page_container_right {
  width: 100%; /* Make both containers full width on smaller screens */
}

.login-page {
  margin-top: 20px; /* Adjust margin */
  margin-left: auto; /* Center image horizontally */
  margin-right: auto; /* Center image horizontally */
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Ensure image scales proportionally */
}

/* Styles for mobile screens */
@media only screen and (max-width: 600px) {
  .login-page {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}

/* Styles for desktop screens */
@media only screen and (min-width: 601px) {
  .Login_page_container {
    flex-direction: row; /* Align containers side by side on larger screens */
  }

  .login-page {
    margin-top: 130px; /* Adjust margin for larger screens */
    height: 60%; /* Adjust height */
    width: auto; /* Allow image to adjust width */
  }
}
