/* * {
  background-color: rgb(199, 199, 199);
} */
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 725px;
}

.left-side {
  flex: 1;
  background-color: lightblue;
  padding: 20px;
}

.right-side {
  flex: 1;
  background-color: white;
  padding: 20px;
}

.sign-up-box {
  width: 60%;
  height: 60%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2%;
  margin-left: 15%;
  margin-top: 20%;
  background-color: white;
  /* align-items: center; */
}

.sign-up-button {
  margin-top: 20px;
  width: 30%;
  height: 30px;
  border-radius: 10%;
  background: rgba(119, 52, 239, 1);
  color: white;
}

.form-span-text {
  background-color: white;
  text-align: left;
  margin-left: 9%;
  margin-top: 10px;
  display: block;
}

input {
  width: 80%;
  height: 20px;
  background-color: white;
}
.inside-form {
  background-color: white;
}
